@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 1s infinite alternate;
	stroke-width: 2;
	stroke: #c40606;
	font-size: 43px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,204,0); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgb(26, 122, 14); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(13, 119, 18, 0.527); stroke-width: 3; }
	100% {
		fill: rgb(255, 242, 242); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {
	background-color: rgb(243, 250, 235);
  width: 100%;
  height: 100%;
};
