.principal {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 70px;
    margin-top: 20px;
    justify-content: center;
  }
  
  .cuadro1{
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 15px 15px 15px white;
  }
  .cuadro2{
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1537130508299-46ab547b4be3?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 15px 15px 15px white;
  }
  .cuadro4 {
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1534398079543-7ae6d016b86a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 15px 15px 15px white;;
  }
  .cuadro5 {
    cursor: pointer;
    background-image: url(https://plus.unsplash.com/premium_photo-1683121680448-ef3047b9351a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 15px 15px 15px white;;
  }
  .cuadro6 {
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1580582932707-520aed937b7b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 10px;
    box-shadow: 15px 15px 15px white;;
  }
  
  .cuadro1:hover,
  .cuadro2:hover,
  .cuadro4:hover,
  .cuadro5:hover,
  .cuadro6:hover{
    transform: translateX(10px);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
  }