.barra {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 400px;
}

.titulo{
    color: white;
    background-color: rgba(0, 0, 0, 0.685);
    font-family: sans-serif;
    border-radius: 10px;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: serif;
}
.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto ajustará la imagen al tamaño del contenedor */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 768px) {
    .btn {
        left: 50%;
        /* Centra el botón en pantallas más pequeñas */
    }
}

button {
    z-index: 2;
    display: block;
    width: fit-content;
    height: auto;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
}

button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: scaleX(0.2) scaleY(0.5) translate(250%, 100%);
    border-top: solid 1px #333;
    border-left: solid 4px #333;
    transition: all .4s ease-in-out;
}

button::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%) scaleX(0.2) scaleY(0.5);
    border-bottom: solid 2px #333;
    border-right: solid 4px #333;
    border-radius: 15px;
    transition: all .4s ease-in-out;
}

button:hover::before {
    transform: translate(0%, 0%) scaleX(1) scaleY(1);
    border-top: solid 1px #333;
    border-left: solid 1px #333;
}

button:hover::after {
    transform: scaleX(1) scaleY(1) translate(0%, 0%);
    border-bottom: solid 1px #333;
    border-right: solid 1px #333;
}

