.principal {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    margin-top: 200px;
    cursor: pointer;
    justify-content: center;
  }
  
  .cuadro1,
  .cuadro2,
  .cuadro3,
  .cuadro4 {
    background-image: url(https://i.pinimg.com/564x/9e/df/d0/9edfd0c9f1c6f1142f05f385a06873b8.jpg);
    width: 350px;
    height: 350px;
    background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el cuadro */
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 0.5s ease; /* Agrega una transición al efecto de escala */
    transition: all 400ms ease;
    border-radius: 15px;
    box-shadow: 15px 15px 15px white;
  }
  
  .cuadro1:hover,
  .cuadro2:hover,
  .cuadro3:hover,
  .cuadro4:hover {
    transform: translateX(10px);
  }
  
  h1 {
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
  }